.index-banner{
  background-image: url(.././images/bg_home.jpg);
  background-size: cover;
  height: 72.58vh;
}




@mixin phone{
  .index-banner{
    background-image: url(../../images/bg_home_mobile.jpg);
  }
  
  

}