.product-button{
  padding: 16px 32px; 
}

.product-button:hover,.product-card-button:hover{
  color: $success ;
  border-color: $success;
  background-color: $primary;
  
}

.product-button:focus{
  box-shadow: 0ch;
}


.gradient-button:hover{
  color: black;
  transition-duration: 0.3s;
  transform: scaleX(1.02)
}


.product-card-button{
  padding: 8px 48px; 
  
}
.product-card{
  .card:hover{
    transform: scale(1.02);
    opacity: 0.9;
    transition-duration: 1s;
  }
}
