.product-button{
  padding: 16px 32px; 
}

.product-button:hover,.product-card-button:hover{
  color: $success ;
  border-color: $success;
  background-color: $primary;
  
}

.product-button:focus{
  box-shadow: 0ch;
}


.gradient-button:hover{
  color: black;
  transition-duration: 0.3s;
  transform: scaleX(1.02)
}


.product-card-button{
  padding: 8px 16px; 
  
}
.product-card:hover{
    background: rgb(43, 43, 43) !important;
    transition-duration: 0.8s;
    opacity: 0.8;
    border: 1px $light2 solid;

}

