.register-icon {
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 10px;
}


.material-icons {
  top: 50%;
  left: 50%;
}

.register-card::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid $light;
}

.sign-up-button {
  .btn {
    width: 49%;
  }
}

@include ipad-lg {
  .register-schedule {
    background: $dark;
  }

  .sign-up{
    position: relative;
    width: 83%;
    left: 23%;
  }

  .register-card {
    position:absolute;
    left: 2%;
    width: 23%;
  }
  .register-card::before {
    display: none;
  }
}

@include web {
  .sign-up{
    position: relative;
    width: 76.7%;
    left: 22%;
  }
  .sign-up-choose{
    margin-left: 50px;
  }
  .register-card {
    position:absolute;
    top:45%;
    left: 5%;
    width: 25%;
    z-index:100;
  }
  
  .register-card::before {
    display: block;
    top: 55%;
    left: 100%;
    border-right: 0px solid transparent;
    border-left: 12px solid $light;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    
  }

  .sign-up {
    margin-right: 5%;
  }

  .sign-up-button {
    margin-right: 2%;
    .btn{
      margin-right:12px ;
    }

  }

  .sign-up-input{
    .sign-100{
      width: 100% ;
    }
    .sign-50{
      width: 46% ;
    }
    .w-100{
      width: 24% !important;
    }
  }
  
}