.bg-black{
  height: auto;
}

.register-icon{
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height:10px;
}
  

.material-icons{
  top:50%;
  left:50%;
}

.register-card::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  background-color: $black;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid $light;
}

.sign-up-button{
  .btn{
    width: 49%;
  }
}