//margin
.mt-42 {
  margin-top: 42px;

}
.mt-40 {
  margin-top: 40px;

}

.mb-21 {
  margin-bottom: 21px;

}

.mb-40 {
  margin-bottom: 40px;

}

.mb-44 {
  margin-bottom: 44px;

}

.mb-80 {
  margin-bottom: 80px;

}

//card
.card-12 {
  border-radius: 12px;
}

.card-24 {
  border-radius: 24px;
}

//gradient
.gradient-text {
  color: transparent;
  background: linear-gradient(#09ACF5, #62DB54);
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-button {
  background: linear-gradient(104deg, #09ACF5, #62DB54);
}

//font
.font{
  font-family: 'Azeret Mono', monospace;
}


.button-hover:hover{
  color: $success ;
  border-color: $success ;
  background-color: $primary ;
}

